

/*Reset CSS*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

/*CSS REGISTER*/

.register-container {
    width: 100%;
    height: auto;
}

.register-container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.register-title {
    color: #1F1F1F;
    text-align: right;
    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
}

.register-subtitle {
    color: #1F1F1F;
    text-align: right;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.28px;
}


.register-submit {
    width: 102.995px;
    height: 39.062px;
    flex-shrink: 0;
    background: #F33;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


.register-form-item {
    display: flex; 
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    align-items: center;
    place-content: space-between;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}
    
.register-form-item:nth-child(5) label{
    padding-right: 10px;
}

.register-form-item input {
    border-bottom: 2px solid #F33;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
}

input::placeholder{
    color: #B9B9B9;
}
.register-form-controller{
    display: flex;
    justify-content: space-around;
}

.register-form-aceptar {
    color: #1F1F1F;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
}

.register-terminos-condiciones{
    color: #1D84B5;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* CSS EDIT*/
.nav-edit{
    display: flex;
    justify-content: space-between;
}
.items-nav-edit{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--second-font);
    font-size: var(--font-xsmall);
    color: var(--light-solid-font);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.cuerpo-edit{
    margin:  var(--spacing-36)var(--spacing-68);
    

}
.titulo-edit{
    margin: var(--spacing-12) 0;
    color: var(--dark-solido);
    font-family: var(--second-font);
    font-size: var(--font-xlarge);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
}
.primer-linea-edit{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: var(--spacing-36) 0
}
.categoria-edit, .licencia-edit{
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.96px;
}
#categoria, #licencia, #cuotas{
    border: var(--dark-solido) 1px solid;
    border-radius: 7%;
    width: 15rem;
    margin-left: var(--spacing-8);
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: 1.25rem;
    font-weight: 500;
}
.nombre_producto_edit{
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    margin-bottom: var(--spacing-20);
}
#nombre_prod{
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: var(--primario-900) 2px solid underline;
    }
#descripcion{
    width: 63rem;
    height: 12.17rem;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--dark-solido);
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    text-align: left;
    margin-bottom: var(--spacing-12);
}
.sku_precio_stock_edit{
    margin-bottom: var(--spacing-36);    
    display: flex;
    gap: 0.8rem;
    
}
.sku-edit{
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
}
.sku_value_edit{
    width: 15rem;
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
    text-decoration: var(--primario-900) 2px solid underline;
}
#cuotas{
    width: 21.6rem;
}
.descuento_edit{
    margin-bottom: var(--spacing-36);
}
.elegir_edit{
    font-size: 1.1em;
}
.elegir_img_edit{
    margin-bottom: var(--spacing-16);
}
.img_frente_edit{
    margin-right: var(--spacing-16);
}
.img_edit{
    width: 9.37rem;
}
.footer_nav_edit{
    display: flex;
    justify-content: space-between;
}
.footer_li_edit{
    color: var(--light-solid-font);
    font-family: var(--second-font);
    font-size: var(--font-xsmall);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 1.25rem 0;
}
.footer_p_edit{
    font-size: var(--font-xsmall);
}