<<<<<<< HEAD:css/admin.css
.admin-search {
    display: flex;
    gap: 1em;
    margin-left: 70px;
    margin-bottom: 30px;
}

.search-button{
    width: 42px;
    height: 42px;
}

button{
    width: 34px;
    height: 34px;
    border: none;
    background-color: var(--light-bg-solid);
    cursor: pointer;
}

.buscador{
    height:44.28px;
    width: 529.76px;
    border-radius: 2px solid var(--dark-bg-solid);
}

::placeholder {
    padding-left: 20px;
    font-family: var(--base-font-);
    font-size: var(--font-xsmall);
    color: #B9B9B9;
}

.admin-container{
    margin-left: 70px;
    margin-right: 165px;
}

.table_header{
    display: flex;
    justify-content: space-between;
}

.admin-btn-plus{
    display: flex;
    align-self: flex-end;
    gap: 30px;
}

.section-container{
    display: flex;
    flex-direction: column;
}

table {
    margin-left: 70px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
}

th, td{
    font-size: var(--font-small);
    text-align: left;
    padding: 0.5em;
}

.pencil_trash{
    display: flex;
    gap: 50px;
=======
.admin-search {
    display: flex;
    gap: 1em;
    margin-left: 70px;
    margin-bottom: 30px;
}

.search-button{
    width: 42px;
    height: 42px;
}

button{
    width: 34px;
    height: 34px;
    border: none;
    background-color: var(--light-bg-solid);
    cursor: pointer;
}

.buscador{
    height:44.28px;
    width: 529.76px;
    border-radius: 2px solid var(--dark-bg-solid);
}

::placeholder {
    padding-left: 20px;
    font-family: var(--base-font-);
    font-size: var(--font-xsmall);
    color: #B9B9B9;
}

.admin-container{
    margin-left: 70px;
    margin-right: 165px;
}

.table_header{
    display: flex;
    justify-content: space-between;
}

.admin-btn-plus{
    display: flex;
    align-self: flex-end;
    gap: 30px;
}

.section-container{
    display: flex;
    flex-direction: column;
}

table {
    margin-left: 70px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
}

th, td{
    font-size: var(--font-small);
    text-align: left;
    padding: 0.5em;
}

.pencil_trash{
    display: flex;
    gap: 50px;
>>>>>>> development:public/css/admin.css
}