<<<<<<< HEAD:css/cart.css
.container-cart{
    margin-top: 100px;
    margin-left: 110px;

}

.titulo-carrito{
    font-size: var(--font-xlarge);
    padding-bottom: 10px;
    border-bottom: 5px solid var(--primario-solido);
    width: 350px;
}

.cart-container{
    margin-top: 70px;
}

.cart-head{
    display: flex;
    font-size: var(--font-xsmall);
    background-color: var(--light-bg-solid);
    width: 1100px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px var(--dark-300);
    margin-bottom: 30px; 
}

.item-cart-head1{
    padding-left: 70px;
}

.item-cart-head2{
    padding-left: 270px;
}

.item-cart-head3{
    padding-left: 250px;
}

.logo-prod{
    width: 120px;
    padding-top:15px;
}

.text-cart{
    margin: 30px 15px 20px;
}

.text-cart > h1{
    font-size: var(--font-small);
    padding-bottom: 5px
}

.text-cart > p{
    font-size: var(--font-xxsmall);
    padding-bottom: 20px;
}

.cart-cantidad{
    display: flex;
    font-size: var(--font-xsmall);
    color: var(--secundario-solido);
    font-weight: 300;
    gap: 1rem;
    align-items: center;
    margin-left: 90px;
  }

.cart-input{
    font-size: var(--font-xsmall);
    font-weight: bold;
    color: var(--dark-solido);
    border: 1px solid #C9C9C9;
    border-width: thin;
    width: 89.48px;
    height: 40px;
    text-align: center;
    margin-top: 55px;
    margin-left: 30px;
}

.cart-btns{
    display: flex;
    flex-direction: column-reverse;
    gap: 0.3rem;
    margin-top: 50px;
}

.cart-mm{
    color: var(--light-solid-font);
    background-color: var(--primario-900);
    border: none;
    width: 18px;
    height: 16px;
}

.cart-cantidad2{
    display: flex;
    font-size: var(--font-xsmall);
    color: var(--secundario-solido);
    font-weight: 300;
    gap: 1rem;
    align-items: center;
    margin-left: 210px;
  }

.price-cart{
    margin-top: 55px;
    margin-left: 170px;
}

.eliminar-cart{
    margin-top: 55px;
    width: 28px;
    margin-left: 110px;
}

.resumen-cart{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 140px;
    margin-top: 50px;
}

.titulo-resumen{
        font-size: var(--font-xlarge);
        padding-bottom: 10px;
        border-bottom: 5px solid var(--primario-solido);
        width: 150px;
}

.cart-articulos{
    display: flex;
    margin-top: 50px;
    font-size: var(--font-xxsmall);
    background-color: var(--light-bg-solid);
    width: 572px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px var(--dark-300);
    margin-bottom: 50px; 
}

.fila-articulos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:21em;
}

.fila-articulos>td{
    margin-bottom: 15px;
    font-size: var(--font-xxsmall);
    font-family: var(--base-font);
    font-weight: 600;
}

.total-cart{
    border-top: 2px solid var(--primario-solido);
    padding-top: 5px;
    font-weight: 700;
    font-size: var(--font-xsmall);
    width: 511px;
}

.btn-pagar {
    background-color: var(--primario-solido);
      color: var(--light-solid-font);
      border: none;
      display:inline;
      padding: var(--spacing-8) var(--spacing-16);
      font-size: var(--font-medium);
      font-family: var(--primary-font);
      transition: background .3s ease-in-out;
      position: relative;
      margin-bottom: 100px;
      width: 572px;
      height: 44.33px;
      font-weight: 700;
=======
.container-cart{
    margin-top: 100px;
    margin-left: 110px;

}

.titulo-carrito{
    font-size: var(--font-xlarge);
    padding-bottom: 10px;
    border-bottom: 5px solid var(--primario-solido);
    width: 350px;
}

.cart-container{
    margin-top: 70px;
}

.cart-head{
    display: flex;
    font-size: var(--font-xsmall);
    background-color: var(--light-bg-solid);
    width: 1100px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px var(--dark-300);
    margin-bottom: 30px; 
}

.item-cart-head1{
    padding-left: 70px;
}

.item-cart-head2{
    padding-left: 270px;
}

.item-cart-head3{
    padding-left: 250px;
}

.logo-prod{
    width: 120px;
    padding-top:15px;
}

.text-cart{
    margin: 30px 15px 20px;
}

.text-cart > h1{
    font-size: var(--font-small);
    padding-bottom: 5px
}

.text-cart > p{
    font-size: var(--font-xxsmall);
    padding-bottom: 20px;
}

.cart-cantidad{
    display: flex;
    font-size: var(--font-xsmall);
    color: var(--secundario-solido);
    font-weight: 300;
    gap: 1rem;
    align-items: center;
    margin-left: 90px;
  }

.cart-input{
    font-size: var(--font-xsmall);
    font-weight: bold;
    color: var(--dark-solido);
    border: 1px solid #C9C9C9;
    border-width: thin;
    width: 89.48px;
    height: 40px;
    text-align: center;
    margin-top: 55px;
    margin-left: 30px;
}

.cart-btns{
    display: flex;
    flex-direction: column-reverse;
    gap: 0.3rem;
    margin-top: 50px;
}

.cart-mm{
    color: var(--light-solid-font);
    background-color: var(--primario-900);
    border: none;
    width: 18px;
    height: 16px;
}

.cart-cantidad2{
    display: flex;
    font-size: var(--font-xsmall);
    color: var(--secundario-solido);
    font-weight: 300;
    gap: 1rem;
    align-items: center;
    margin-left: 210px;
  }

.price-cart{
    margin-top: 55px;
    margin-left: 170px;
}

.eliminar-cart{
    margin-top: 55px;
    width: 28px;
    margin-left: 110px;
}

.resumen-cart{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 140px;
    margin-top: 50px;
}

.titulo-resumen{
        font-size: var(--font-xlarge);
        padding-bottom: 10px;
        border-bottom: 5px solid var(--primario-solido);
        width: 150px;
}

.cart-articulos{
    display: flex;
    margin-top: 50px;
    font-size: var(--font-xxsmall);
    background-color: var(--light-bg-solid);
    width: 572px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px var(--dark-300);
    margin-bottom: 50px; 
}

.fila-articulos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:21em;
}

.fila-articulos>td{
    margin-bottom: 15px;
    font-size: var(--font-xxsmall);
    font-family: var(--base-font);
    font-weight: 600;
}

.total-cart{
    border-top: 2px solid var(--primario-solido);
    padding-top: 5px;
    font-weight: 700;
    font-size: var(--font-xsmall);
    width: 511px;
}

.btn-pagar {
    background-color: var(--primario-solido);
      color: var(--light-solid-font);
      border: none;
      display:inline;
      padding: var(--spacing-8) var(--spacing-16);
      font-size: var(--font-medium);
      font-family: var(--primary-font);
      transition: background .3s ease-in-out;
      position: relative;
      margin-bottom: 100px;
      width: 572px;
      height: 44.33px;
      font-weight: 700;
>>>>>>> development:public/css/cart.css
    }