<<<<<<< HEAD:css/create_Edit_contact.css
main {
    display: flex;
    flex-direction: column;
    margin-top: 36px;

}

form {
    width: 82%;
    align-items: left;
    margin-left: 0;
}

h1 {
    font-size: 42px;
    font-family: var(--second-font);
    font-weight: 700;
}

textarea {
    margin-top: 35px;
    width: 82%;
    height: 195px;
    font-size: var(--font-medium);
    font-family: var(--base-font);
    font-weight: 400;
    border-radius: 4px;
}

.main-title {
    font-size: var(--font-jumbo);
    font-family: var(--second-font);
    font-weight: 700;
    margin-top: 36px;
}

.main-article {
    margin-top: 43px;
    justify-content: space-between;
}

.main-article label {
    flex: 1;
    text-align: left;
    font-family: var(--base-font);
    font-weight: 400;
    font-size: var(--font-large);
    color: var(--dark-solido);
    gap: var(--spacing-12);
}

input[type="text"],
input[type="number"] {
    flex: 2;
    border: none;
    border-bottom: 2px solid var(--primario-solido);
    padding: 2px;
    font-size: var(--font-medium);
    font-family: var(--base-font);
    font-weight: 400;
    gap: var(--spacing-12);
    margin-left: 10px;
    margin-right: 50px;
}

input[type="submit"],
input[type="button"]{
    background-color: var(--primario-solido);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: var(--font-xsmall);
    cursor: pointer;
    margin-bottom: 36px;
    width: 175px;
    height: 44px;

}

.main-article .form-label {
    font-size: var(--font-large);
    font-family: var(--base-font);
    font-weight: 400;
    margin-top: 43px;
}

.form-label {
    font-size: var(--font-large);
    font-family: var(--base-font);
    font-weight: 400;
    text-align: left;
    margin-top: 59px;
}

input [type="file"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-xsmall);
}

#licencia,
#categoria {
    border-radius: 4px;
    padding: 2px;
    width: 243px;
    height: 44px;
    margin-left: 10px;
    margin-right: 25px;
}

#cuotas {
    border-radius: 4px;
    padding: 2px;
    width: 296px;
    height: 44px;
}

#sku,
#precio {
    width: 130px;
}

#stock,
#descuento {
    width: 55px;
}

#nombre {
    width: 296px;
    height: 22px;
}


.create-input {
    font-size: var(--font-medium);
    font-family: var(--base-font)
}

.edit-input {
    color: var(--dark-solido);
}

.img_frente_edit{
    margin-right: var(--spacing-16);
}

.img_edit{
    width: 15rem;
}

.edit-modificar {
background-color: var(--primario-solido);
  color: var(--light-solid-font);
  border: none;
  display:inline;
  padding: var(--spacing-8) var(--spacing-16);
  font-size: var(--font-xsmall);
  font-family: var(--primary-font);
  transition: background .3s ease-in-out;
  position: relative;
  margin-bottom: 40px;
  width: 175px;
  height: 44.33px;
  font-weight: bold;
  margin-right: 20px;
}

.edit-modificar:hover{
    background-color: var(--primario-900);
  }

/*css contacto*/
.contacto{
    margin:  var(--spacing-36)var(--spacing-68);
}
.titulo-contacto{
    margin: var(--spacing-12) 0;
    color: var(--dark-solido);
    font-family: var(--second-font);
    font-size: var(--font-xlarge);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
}
.lista-contacto{
    color: var(--dark-solido);
    font-family: var(--second-font);
    font-size: var(--font-large);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
}
.lista-contacto li{
    margin: var(--spacing-36);
}
.logo-whats{
    width: 2%;
=======
main {
    display: flex;
    flex-direction: column;
    margin-top: 36px;

}

form {
    width: 82%;
    align-items: left;
    margin-left: 0;
}

h1 {
    font-size: 42px;
    font-family: var(--second-font);
    font-weight: 700;
}

textarea {
    margin-top: 35px;
    width: 82%;
    height: 195px;
    font-size: var(--font-medium);
    font-family: var(--base-font);
    font-weight: 400;
    border-radius: 4px;
}

.main-title {
    font-size: var(--font-jumbo);
    font-family: var(--second-font);
    font-weight: 700;
    margin-top: 36px;
}

.main-article {
    margin-top: 43px;
    justify-content: space-between;
}

.main-article label {
    flex: 1;
    text-align: left;
    font-family: var(--base-font);
    font-weight: 400;
    font-size: var(--font-large);
    color: var(--dark-solido);
    gap: var(--spacing-12);
}

input[type="text"],
input[type="number"] {
    flex: 2;
    border: none;
    border-bottom: 2px solid var(--primario-solido);
    padding: 2px;
    font-size: var(--font-medium);
    font-family: var(--base-font);
    font-weight: 400;
    gap: var(--spacing-12);
    margin-left: 10px;
    margin-right: 50px;
}

input[type="submit"],
input[type="button"]{
    background-color: var(--primario-solido);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: var(--font-xsmall);
    cursor: pointer;
    margin-bottom: 36px;
    width: 175px;
    height: 44px;

}

.main-article .form-label {
    font-size: var(--font-large);
    font-family: var(--base-font);
    font-weight: 400;
    margin-top: 43px;
}

.form-label {
    font-size: var(--font-large);
    font-family: var(--base-font);
    font-weight: 400;
    text-align: left;
    margin-top: 59px;
}

input [type="file"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-xsmall);
}

#licencia,
#categoria {
    border-radius: 4px;
    padding: 2px;
    width: 243px;
    height: 44px;
    margin-left: 10px;
    margin-right: 25px;
}

#cuotas {
    border-radius: 4px;
    padding: 2px;
    width: 296px;
    height: 44px;
}

#sku,
#precio {
    width: 130px;
}

#stock,
#descuento {
    width: 55px;
}

#nombre {
    width: 296px;
    height: 22px;
}


.create-input {
    font-size: var(--font-medium);
    font-family: var(--base-font)
}

.edit-input {
    color: var(--dark-solido);
}

.img_frente_edit{
    margin-right: var(--spacing-16);
}

.img_edit{
    width: 15rem;
}

.edit-modificar {
background-color: var(--primario-solido);
  color: var(--light-solid-font);
  border: none;
  display:inline;
  padding: var(--spacing-8) var(--spacing-16);
  font-size: var(--font-xsmall);
  font-family: var(--primary-font);
  transition: background .3s ease-in-out;
  position: relative;
  margin-bottom: 40px;
  width: 175px;
  height: 44.33px;
  font-weight: bold;
  margin-right: 20px;
}

.edit-modificar:hover{
    background-color: var(--primario-900);
  }

/*css contacto*/
.contacto{
    margin:  var(--spacing-36)var(--spacing-68);
}
.titulo-contacto{
    margin: var(--spacing-12) 0;
    color: var(--dark-solido);
    font-family: var(--second-font);
    font-size: var(--font-xlarge);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
}
.lista-contacto{
    color: var(--dark-solido);
    font-family: var(--second-font);
    font-size: var(--font-large);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
}
.lista-contacto li{
    margin: var(--spacing-36);
}
.logo-whats{
    width: 2%;
>>>>>>> development:public/css/create_Edit_contact.css
}