.nav-edit{
    display: flex;
    justify-content: space-between;
}
.items-nav-edit{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--second-font);
    font-size: var(--font-xsmall);
    color: var(--light-solid-font);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.cuerpo-edit{
    margin:  var(--spacing-36)var(--spacing-68);
    

}
.titulo-edit{
    margin: var(--spacing-12) 0;
    color: var(--dark-solido);
    font-family: var(--second-font);
    font-size: var(--font-xlarge);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
}
.primer-linea-edit{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: var(--spacing-36) 0
}
.categoria-edit, .licencia-edit{
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.96px;
}
#categoria, #licencia, #cuotas{
    border: var(--dark-solido) 1px solid;
    border-radius: 7%;
    width: 15rem;
    margin-left: var(--spacing-8);
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: 1.25rem;
    font-weight: 500;
}
.nombre_producto_edit{
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    margin-bottom: var(--spacing-20);
}
#nombre_prod{
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: var(--primario-900) 2px solid underline;
    }
#descripcion{
    width: 63rem;
    height: 12.17rem;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--dark-solido);
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    text-align: left;
    margin-bottom: var(--spacing-12);
}
.sku_precio_stock_edit{
    margin-bottom: var(--spacing-36);    
    display: flex;
    gap: 0.8rem;
    
}
.sku-edit{
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
}
.sku_value_edit{
    width: 15rem;
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
    text-decoration: var(--primario-900) 2px solid underline;
}
#cuotas{
    width: 21.6rem;
}
.descuento_edit{
    margin-bottom: var(--spacing-36);
}
.elegir_edit{
    font-size: 1.1em;
}
.elegir_img_edit{
    margin-bottom: var(--spacing-16);
}
.img_frente_edit{
    margin-right: var(--spacing-16);
}
.img_edit{
    width: 9.37rem;
}
.input_mod_edit{
    margin-top: 5rem;
    background-color: var(--primario-900);
    width: 17rem;
    padding: var(--spacing-12) var(--spacing-20);
    color: var(--light-solid-font);
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    font-weight: 600;
    transition: all 0.5 ease-in-out;
}
.input_mod_edit:hover{
    background-color: var(--dark-bg-solid);
    color: var(--primario-900);

}
.footer_edit{
    height: 343px;
}
.footer_nav_edit{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_li_edit{
    color: var(--light-solid-font);
    font-family: var(--second-font);
    font-size: var(--font-xsmall);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 1.25rem 0;
    
}
.footer_p_edit{
    font-size: var(--font-xsmall);
}
.link_edit{
    padding: var(--spacing-8) var(--spacing-16);
    transition: background 0.5 ease-in-out;
}
.link_edit:hover{
    background-color: var(--primario-900);
}