/*Normalizacion*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');


:root {

  /*paleta de colores*/
  --primario-solido:#ff3333;
  --primario-900:rgba(255, 51, 51, 0.9);
  --primario-500:rgba(255, 51, 51, 0.5);
  --primario-300:rgba(255, 51, 51, 0.3);

  --secundario-solido:#1D84B5;
  --secundario-900:rgba(29, 132, 181, 0.9);
  --secundario-500:rgba(29, 132, 181, 0.5);
  --secundario-300:rgba(29, 132, 181, 0.3);

  --dark-solido:#1F1F1F;
  --dark-900:rgba(31, 31, 31, 0.9);
  --dark-500:rgba(31, 31, 31, 0.5);
  --dark-300:rgba(31, 31, 31, 0.3);

  --light-solid-font: #FFFFFF;  

  --dark-bg-solid:#30343F;
  --light-bg-solid:#FAFAFF;


  /*Tipografia*/

  --base-font:'Inter', sans-serif;
  --second-font:'Raleway', sans-serif;

  /*Tamaño letra*/

  --font-display: 4.6em;
  --font-jumbo: 3.8em;
  --font-xlarge: 3em;
  --font-large: 2.4em;
  --font-medium:1.8em;
  --font-small: 1.6em;
  --font-xsmall: 1.4em;
  --font-xxsmall: 1em;
  
  /*Espaciados*/

  --spacing-128: 12.8rem;
  --spacing-68: 6.8rem;
  --spacing-36: 3.6rem;
  --spacing-28: 2.8rem;
  --spacing-24: 2.4rem;
  --spacing-20: 2rem;
  --spacing-16: 1.6rem;
  --spacing-12: 1.2rem;
  --spacing-8: 0.8rem;

}


* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html {
  font-family:var(--base-font);
  font-size: 62.5%;
  color:var(--dark-solido);
}

a {
  text-decoration: none;
  color:inherit;
  font-family: inherit;
}

ul,ol {
  list-style-type: none;
}

p {
  font-size: 1.8em;
}

header,footer {
  font-family: var(--second-font);
  color:var(--light-solid-font);
}

label {
  font-family: var(--base-font);
}

img{
  width: 100%;
}

.container {
  max-width: 1200px ;
  margin: 0 auto;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; }

/*-----------------INICIO HEADER-----------------*/

header {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-36);
}

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo{
  max-width: 300px;
}

.navbar-menu{
  display: flex;
  align-items: center;
  gap: var(--spacing-20)
}


.navbar-link{
  font-size: var(--font-medium);
  padding: var(--spacing-8) var(--spacing-16);
  transition: background .3s ease-in-out;
  }

.navbar-link:hover{
  background-color:var(--primario-900);
}
/* icono de chevron en blanco  */
navbar-link iconify-icon{
  color: white;
}

/*--ES UNIVERSAL PARA CUALQUIER ELEMENTO QUE TENGO UN ICONO AL LADO--*/
.with-icon{
  display:flex;
  align-items: center;
  gap: var(--spacing-8);
  font-size: var(--font-medium);
  color: var(--light-solid-font);
  width:auto;
  height: auto;
}

/*--FIN--*/

.with-submenu:hover .submenu{
  display: block;
}

.submenu{
  display: none;
  width: 300px;
  position: absolute;
  background-color: var(--dark-bg-solid);
  z-index: 3;
}

.submenu-link{
  gap: var(--spacing-8);
  padding: var(--spacing-8) var(--spacing-16);
  font-size: var(--font-medium);
  transition: background .3s ease-in-out;
}

.submenu-link:hover{
  background-color: var(--primario-900);
}
.submenu-item{
  height: var(--spacing-28);
}

/*-----------------FIN HEADER-----------------*/

/***************  INICIO HERO  ****************/
.hero {
  background-image: url(../img/funkos-banner.webp);
  padding: var(--spacing-128);
  background-position: top;
  background-size: cover;  /*Para que se expanda y cubra todo el ancho*/
  background-attachment: fixed;  /*Para que quede fijo al scrollear*/
  position: relative;
}

.hero::before { 
  content: '';
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px) brightness(0.7);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);
  align-items: start; 
  /*Necesito cambiar "align-items" a "start". De otro modo,
   por ser flex column, toma por defecto el valor "stretch"
   y las cajas toman todo el ancho del contenedor, cosa que
   muy evidente con el botón  se hace */
   z-index: 2;
   position: relative;
}

.hero-title {
  font-family: var(--alternative-font);
  font-size: var(--font-jumbo);
  color: var(--light-solid-font);
}

.hero-text {
  font-family: var(--alternative-font);
  font-size: var(--font-medium);
  color: var(--light-solid-font);
}

.hero-link {
  display: inline-block;
  font-size: var(--font-medium);
  font-weight: 500;
  background-color: var(--light-bg-solid);
  padding: var(--spacing-12);
  border-radius: 50px;
  transition: all .3s ease-in-out;  
  /*Transition Para el :hover. "all" por el bkgnd y el color. */
}

.hero-link:hover {
  background-color: var(--primario-900);
  color: var(--light-solid-font);
}

/*****************  FIN HERO  *****************/

/*****************  INICIO MAIN DE INDEX.HTML  *****************/
.index-main-container {
  max-width: 1200px ;
  margin: 0;
}
.index-collection {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  padding: var(--spacing-16) 0;
}

.index-collection-star-wars{
  margin-left: 85px;
}


/*Cambiamos el orden para el segundo hijo de collection*/
.index-collection:nth-child(2) .index-collection-cover {
  order: -1;
}

.index-collection-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  align-items: start;
  /*"start" para que no sea "stretch" (valor por defecto) y que 
    de este modo, el link no ocupe todo el ancho.*/
}
.index-collection-title {
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  font-weight: 500;
}
.index-collection-text {
  font-family: var(--alternative-font);
  font-size: var(--font-large);
  font-weight: 300;
  border-bottom: 2px solid var(--primario-solido);
  padding-bottom: var(--spacing-20);
} 

.index-collection-link {
  display: inline-block;
  font-size: var(--font-medium);
  background-color: var(--dark-bg-solid);
  color: var(--light-solid-font);
  padding: var(--spacing-16) var(--spacing-36);
  border-radius: 50px;
  font-weight: 500;
  /*Si tenemos un :hover, debemos poner un transition...*/
  transition: background .3s ease-in-out;
}

.index-collection-link:hover {
  background-color: var(--primario-900);
}

<<<<<<< HEAD:css/Normalizacioncss.css
=======

>>>>>>> development:public/css/Normalizacioncss.css

/*****************  FIN MAIN DE INDEX.HTML  *****************/



/***************  INICIO DE ULTIMOS LANZAMIENTOS  ****************/
.container {
  max-width: 1200px ;
  margin: 0px;
}

.container-b{
  margin:40px;
}

/*****************  FIN DE ULTIMOS LANZAMIENTOS  *****************/
/*-----------------INICIO MAIN-----------------*/
/*----PERSONAJE----*/
.item-collection{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}

.item-collection-content{
  display: flex;
  flex-direction:column;
  gap: var(--spacing-12);
}

.item-collection-licence{
  font-size: var(--font-small);
  font-family:var(--primary-font);
}

.item-collection-title{
  font-family: var(--primary-font);
  font-size: var(--font-jumbo);
}

.item-collection-text{
  font-family:var(--primary-font);
  font-size: var(--font-large);
}

.item-collection-price{
  font-size: var(--font-jumbo);
  font-family:var(--primary-font);
}

.item-collection-link{
  display:inline-block;
  font-size: var(--font-xsmall);
  font-weight: 700;
  color:var(--secundario-solido);
  font-family: var(--primary-font);
}

.item-btn{
  display:inline;
  padding: var(--spacing-8) var(--spacing-8);
  font-size: var(--font-small);
  width: 25%;
  height: 90%;
  text-align: center;
}/*FALTA SEPARAR DE BOTONES Y CAMBIARLOS*/

.item-btn-carrito{
  background-color: var(--primario-solido);
  color: var(--light-solid-font);
  border: none;
  display:inline;
  padding: var(--spacing-8) var(--spacing-16);
  font-size: var(--font-xsmall);
  font-family: var(--primary-font);
  transition: background .3s ease-in-out;
  position: relative;
}

.item-btn-carrito:hover{
  background-color: var(--primario-900);
}

/************** INICIO SLIDER ****************/

.slider {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-36);
  margin: var(--spacing-68) auto;
}

.slider-title{
  font-family: var(--second-font);
  font-size: var(--font-display);
  text-transform: uppercase;
}

/*
// Retiro este estilo porque entra en conflicto con el que
// la librería Glide le pone al slider.

.slider-items{
  display:flex;
  gap: var(--spacing-24);
}

*/

<<<<<<< HEAD:css/Normalizacioncss.css
iconify-icon {
  color: var(--light-bg-solid);
  font-size: var(--font-small);
  font-weight: 700;
}

/*
.glide__arrow--left {
  left: 0;
}

.glide__arrow--left {
  right: 0;
}
*/
=======
 iconify-icon{
    color: var(--light-bg-solid);
    font-size: var(--font-small);
    font-weight: 700;
  }
  
  .glide__arrow--left {
    left: 0;
    color: var(--dark-bg-solid);
  }
  
  .glide__arrow--right {
    right: 0;
    color: var(--dark-bg-solid);
  }
>>>>>>> development:public/css/Normalizacioncss.css

/************** FIN SLIDER ****************/

.card-item__cover{
  display:flex;
  position: relative;
}

.card-item-tag{
  font-size: var(--font-xsmall);
  text-transform: uppercase;
  background-color: var(--primario-solido);
  color: var(--light-solid-font);
  padding: var(--spacing-8) var(--spacing-12);
  position: absolute;
  right: 0;
}

.card-item__cover img{
  animation: fade .7s;
}

.card-item__img--back{
  display: none;
}

.card-item__cover:hover .card-item__img--back{
  display: block;
}

.card-item__cover:hover .card-item__img--front{
  display: none;
}

.card-item-content{
  display:flex;
  flex-direction: column;
  gap: var(--spacing-12);
  padding:var(--spacing-16);
}

.card-item-licence{
  font-size: var(--font-xsmall);
  font-weight: 500;
}

.card-item-name{
  font-size: var(--font-medium);
  font-weight: 700;
}

.card-item-price{
  font-size: var(--font-xsmall);
}

.card-item-promo{
  font-size: var(--font-xsmall);
  color: var(--secundario-solido);
  font-weight: 700;
}
.iconify_carrousel{
  color: var(--dark-bg-solid);
}
 /*Animation*/
@keyframes fade {
  0%{
    opacity:0;
  }

  100%{
    opacity:1;
  }
}

/*----FIN SLIDER----*/
/*-----------------FIN MAIN-----------------*/

/*-----------------INICIO FOOTER-----------------*/

.footer{
  background-color:var(--dark-bg-solid);
  padding: var(--spacing-68);
}

.footer-copy{
  margin-top:var(--spacing-36);
  text-align: center;
}

/*-----------------FIN FOOTER-----------------*/
