/*Normalizacion*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');

:root {

  /*paleta de colores*/
  --primario-solido: #ff3333;
  --primario-900: rgba(255, 51, 51, 0.9);
  --primario-500: rgba(255, 51, 51, 0.5);
  --primario-300: rgba(255, 51, 51, 0.3);

  --secundario-solido: #1D84B5;
  --secundario-900: rgba(29, 132, 181, 0.9);
  --secundario-500: rgba(29, 132, 181, 0.5);
  --secundario-300: rgba(29, 132, 181, 0.3);

  --dark-solido: #1F1F1F;
  --dark-900: rgba(31, 31, 31, 0.9);
  --dark-500: rgba(31, 31, 31, 0.5);
  --dark-300: rgba(31, 31, 31, 0.3);

  --light-solid-font: #FFFFFF;

  --dark-bg-solid: #30343F;
  --light-bg-solid: #FAFAFF;


  /*Tipografia*/

  --base-font: 'Inter', sans-serif;
  --second-font: 'Raleway', sans-serif;

  /*Tamaño letra*/

  --font-display: 4.6em;
  --font-jumbo: 3.8em;
  --font-xlarge: 3em;
  --font-large: 2.4em;
  --font-medium: 1.8em;
  --font-small: 1.6em;
  --font-xsmall: 1.4em;

  /*Espaciados*/

  --spacing-128: 12.8rem;
  --spacing-68: 6.8rem;
  --spacing-36: 3.6rem;
  --spacing-28: 2.8rem;
  --spacing-24: 2.4rem;
  --spacing-20: 2rem;
  --spacing-16: 1.6rem;
  --spacing-12: 1.2rem;
  --spacing-8: 0.8rem;

}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--base-font);
  font-size: 62.5%;
  color: var(--dark-solido);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

ul,
ol {
  list-style-type: none;
}

p {
  font-size: 1.8em;
}

header,
footer {
  font-family: var(--second-font);
  color: var(--light-solid-font);
}

label {
  font-family: var(--base-font);
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

/*-----------------INICIO HEADER-----------------*/

header {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-36);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  max-width: 300px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-20)
}

.navbar-link {
  font-size: var(--font-medium);
  padding: var(--spacing-8) var(--spacing-16);
  display: inline-block;
  transition: background .3s ease-in-out;
  position: relative;
}

.navbar-link:hover {
  background-color: var(--primario-900);
}

/*--ES UNIVERSAL PARA CUALQUIER ELEMENTO QUE TENGO UN ICONO AL LADO--*/
.with-icon {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

/*--FIN--*/

.with-submenu:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  width: 300px;
  position: absolute;
  background-color: var(--dark-bg-solid);
}

.submenu-link {
  display: block;
  padding: var(--spacing-8) var(--spacing-16);
  font-size: var(--font-medium);
  transition: background .3s ease-in-out;
}

.submenu-link:hover {
  background-color: var(--primario-900);
}

/*-----------------FIN HEADER-----------------*/

/*----------------------------------INICIO STYLES ITEM----------------------------------*/
/*-----------------INICIO MAIN-----------------*/
/*----PERSONAJE----*/
.item-collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.item-collection-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

.item-collection-licence {
  font-size: var(--font-small);
  font-family: var(--primary-font);
}

.item-collection-title {
  font-family: var(--primary-font);
  font-size: var(--font-jumbo);
}

.item-collection-text {
  font-family: var(--primary-font);
  font-size: var(--font-large);
}

.item-collection-price {
  font-size: var(--font-jumbo);
  font-family: var(--primary-font);
}

.item-collection-link {
  display: inline-block;
  font-size: var(--font-xsmall);
  font-weight: 700;
  color: var(--secundario-solido);
  font-family: var(--primary-font);
}

.item-cantidad{
  color: var(--light-solid-font);
  background-color: #4F4F4F;
  border: none;
  width: 18px;
  height: 16px;
}

.item-input{
  font-size: var(--font-small);
  color: #747474;
  border-color: #C9C9C9;
  border-width: thin;
  width: 105.47px;
  height: 35.24px;
  text-align: center;
}

.item-btn-carrito{
  background-color: var(--primario-solido);
  color: var(--light-solid-font);
  border: none;
  display:inline;
  padding: var(--spacing-8) var(--spacing-16);
  font-size: var(--font-xsmall);
  font-family: var(--primary-font);
  transition: background .3s ease-in-out;
  position: relative;
}

.item-btns {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.3rem;
}

.item-btn-carrito:hover{
  background-color: var(--primario-900);
}

/*----INICIO SLIDER----SIRVE PARA TODAS LAS PÁGS QUE TENGAS ESE ESTILO DE TARJETAS*/

.slider{
  display:flex;
  flex-direction: column;
  gap: var(--spacing-36);
  margin:var(--spacing-68) auto;
}

.slider-title{
  font-family: var(--second-font);
  font-size: var(--font-display);
  text-transform: uppercase; 
}

/*----MISION 3----*/
iconify-icon{
  color: var(--light-bg-solid);
  font-size: var(--font-small);
  font-weight: 700;
}

.glide__arrow--left {
  left: 0;
}

.glide__arrow--right {
  right: 0;
}
/*----FIN MISION 3----*/

.card-item-cover{
  display:flex;
  position: relative;
}

.card-item-tag{
  font-size: var(--font-xsmall);
  text-transform: uppercase;
  background-color: var(--primario-solido);
  color: var(--light-solid-font);
  padding: var(--spacing-8) var(--spacing-12);
  position: absolute;
  right: 0;
}

.card-item-cover img{
  animation: fade .7s;
}

.card-item-img--back{
  display: none;
}

.card-item-cover:hover .card-item-img--back{
  display: block;
}

.card-item-cover:hover .card-item-img--front{
  display: none;
}

.card-item-content{
  display:flex;
  flex-direction: column;
  gap: var(--spacing-12);
  padding:var(--spacing-16);
}

.card-item-licence{
  font-size: var(--font-xsmall);
  font-weight: 500;
}

.card-item-name{
  font-size: var(--font-medium);
  font-weight: 700;
}

.card-item-price{
  font-size: var(--font-xsmall);
}

.card-item-promo{
  display: flex;
  font-size: var(--font-xsmall);
  color: var(--secundario-solido);
  font-weight: 700;
  gap: 1rem;
  align-items: center;
}
/*Animation*/
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*----FIN SLIDER----*/
/*-----------------FIN MAIN-----------------*/

/*----------------------------------FIN STYLES ITEM----------------------------------*/

/*-----------------INICIO FOOTER-----------------*/

.footer {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-68);
}

.footer-copy {
  margin-top: var(--spacing-36);
  text-align: center;
}

/*-----------------FIN FOOTER-----------------*/