.register-container {
    width: 100%;
}

.register-container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.register-title {
    color: var(--dark-solido);
    font-family: var(--second-font);
    font-size: var(--font-jumbo);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
    margin-top: var(--spacing-36) ;
}

.register-subtitle {
    color: var(--dark-solido);
    font-family: var(--second-font);
    font-size: var(--font-xlarge);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.28px;
    margin-top: 0;
}

.register-form-item {
    display: flex; 
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-large);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    align-items: center;
    place-content: space-between;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}
    
.register-form-item:nth-child(5) label{
    padding-right: 10px;
}
.input-register{
    border-bottom: var(--primario-900) 2px solid;
    width: 200px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: var(--base-font);
    font-size: 1.8rem;
    color: var(--dark-solido);
}

.register-form-aceptar {
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-medium);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
    padding: var(--spacing-36);
}
.register-submit{
    margin-left: var(--spacing-36);
    background-color: var(--primario-solido);
  color: var(--light-solid-font);
  border: none;
  display:inline;
  padding: var(--spacing-8) var(--spacing-16);
  font-size: var(--font-xsmall);
  font-family: var(--primary-font);
  transition: background .3s ease-in-out;
  position: relative;
  margin-bottom: 40px;
  width: 103px;
  height: 39.06px;
  font-weight: 200;
  margin-right: 20px;
  cursor: pointer;
}

.register-submit:hover{
    background-color: var(--primario-900);
  }

.register-terminos-condiciones{
    color: var(--secundario-900);
    font-family: var(--base-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
