<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto | Funkoshop</title>
    <link rel="stylesheet" href="../../css/Normalizacioncss.css">
    <link rel="stylesheet" href="../../css/create_Edit_contact.css">
</head>
<body>
    
    <%- include("../partials/header_shop") %>

    <main class="contacto">
        <h1 class="titulo-contacto">Contactanos</h1>
        <ul class="lista-contacto">
            <li>&#9742; Teléfono: +54 11 xxxx xxxx</li>
            <li>&#9993; Email: funko@funko.com.ar</li>
            <li><img class="logo-whats" src="http://localhost:4000/img/logo-face.svg"> Facebook: FunkoOficial</li>
            <li> &#127968; Dirección: Av. Siempreviva 123, Banfield, Bs As, Argentina</li>
        </ul>
    </main>
    
    <%- include("../partials/footer") %>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="./js/glide.js"></script>
</body>
</html>