<footer  class="footer">
    <nav class="navbar container" >
        <ul class="navbar-items">
            <li class="navbar-item">
                <a class="navbar-link" href="http://localhost:4000/shop">SHOP</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="http://localhost:4000/auth/register">REGISTRARSE</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="http://localhost:4000/auth/login">INGRESAR</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="http://localhost:4000/contact">CONTACTO</a>
            </li>                    
        </ul>
        <picture>
            <!-- Anter era "./img/branding/isotype.svg" -->
            <img src="http://localhost:4000/img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop">

        </picture>
    </nav>
<p class="footer-copy">All rights reserved 2023 - Funkoshop &copy;</p>
</footer>