<header>
    <nav class="navbar container">
        <picture class="navbar-logo">
            <a href="http://localhost:4000">
                <img src="http://localhost:4000/img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkoshop">
            </a>
        </picture>
        <ul class="navbar-menu"> 
            <li class="navbar-item">
                <a class="navbar-link"  href="http://localhost:4000/shop/shop">VER TIENDA</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="http://localhost:4000/admin">ADMIN</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="http://localhost:4000">SALIR</a>
            </li>
        </ul>
    </nav>
</header>