<header>
    <nav class="navbar container">
        <picture class="navbar-logo">
            <!-- Antes era: index.html -->
            <a href="http://localhost:4000">
                <!-- Antes era: ./img/branding/logo_light_horizontal.svg -->
                <img src="http://localhost:4000/img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkoshop">
            </a>
        </picture>
        <ul class="navbar-menu"> 
            <li class="navbar-item with-submenu"> <!-- "    ./pages/shop/shop.html" -->
                <!-- Antes era: /shop-->
                <a class="submenu-link with-icon" href="http://localhost:4000/shop">SHOP<iconify-icon icon="tabler:chevron-down"></iconify-icon></a>
                <!-- Submenú de SHOP - Inicio -->
                <ul class="submenu">
                    <li class="submenu-item">
                        <!-- Antes era: ./shop-->
                        <a href="http://localhost:4000/shop" class="submenu-link">Funkos</a>    <!-- "./pages/shop/shop.html" -->
                    </li>
                    <li class="submenu-item">
                        <a href="" class="submenu-link">Remeras</a>
                    </li>
                    <li class="submenu-item">
                        <a href="" class="submenu-link">Llaveros</a>
                    </li>
                </ul>
                <!-- Submenú de SHOP - Fin -->
            </li>
            <li class="navbar-item">
                <!-- Antes: "./pages/shop/contacto.html" -->
                <a class="navbar-link" href="http://localhost:4000/contact">CONTACTO</a>
            </li>
            <li class="navbar-item">
                <!-- Antes: "./pages/admin/login.html" -->
                <a class="navbar-link" href="http://localhost:4000/auth/login">LOGIN</a>
            </li>
            <li class="navbar-item">
                <!-- Antes: "./pages/shop/cart.html" -->
                <a class="navbar-carrito" href="http://localhost:4000/shop/cart">
                    <!-- Antes: "./img/icons/cart-icon.svg" -->
                    <img src="http://localhost:4000/img/icons/cart-icon.svg" alt="icono de carrito">
                </a>
            </li>
        </ul>
    
    </nav>
</header>