<header>
    <nav class="navbar container">
        <picture class="navbar-logo">
            <a href="/">
                <img src="/img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkoshop">
            </a>
        </picture>
        <ul class="navbar-menu"> 
            <li class="navbar-item">
                <a class="navbar-link"  href="/shop">VER TIENDA</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="/admin">ADMIN</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="/auth/logout">SALIR</a>
            </li>
        </ul>
    </nav>
</header>