<header>
    <nav class="navbar container">
        <picture class="navbar-logo">
            <a href="/">
                <img src="/img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkoshop">
            </a>
        </picture>
        <ul class=" navbar navbar-menu"> 
            <li class="navbar-item with-submenu">
                <a class="submenu-link with-icon" href="/shop">SHOP<iconify-icon icon="tabler:chevron-down"></iconify-icon></a>
                <!-- Submenú de SHOP - Inicio -->
                <ul class="submenu">
                    <li class="submenu-item">
                        <a href="/shop" class="submenu-link">Funkos</a>
                    </li>
                    <li class="submenu-item">
                        <a href="" class="submenu-link">Remeras</a>
                    </li>
                    <li class="submenu-item">
                        <a href="" class="submenu-link">Llaveros</a>
                    </li>
                </ul>
                <!-- Submenú de SHOP - Fin -->
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="/contact">CONTACTO</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="/auth/login">LOGIN</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-carrito" href="/shop/cart">
                    <img src="/img/icons/cart-icon.svg" alt="icono de carrito">
                </a>
            </li>
        </ul>
    
    </nav>
</header>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    