<header>
    <nav class="navbar container">
        <picture class="navbar-logo">
            <a href="index.html">
                <img src="./img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkoshop">
            </a>
        </picture>
        <ul class="navbar-menu"> 
            <li class="navbar-item with-submenu"> <!-- "    ./pages/shop/shop.html" -->
                <a class="submenu-link with-icon" href="./shop">SHOP<iconify-icon icon="tabler:chevron-down"></iconify-icon></a>
                <!-- Submenú de SHOP - Inicio -->
                <ul class="submenu">
                    <li class="submenu-item">
                        <a href="./shop" class="submenu-link">Funkos</a>    <!-- "./pages/shop/shop.html" -->
                    </li>
                    <li class="submenu-item">
                        <a href="" class="submenu-link">Remeras</a>
                    </li>
                    <li class="submenu-item">
                        <a href="" class="submenu-link">Llaveros</a>
                    </li>
                </ul>
                <!-- Submenú de SHOP - Fin -->
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="./pages/shop/contacto.html">CONTACTO</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="./pages/admin/login.html">LOGIN</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-carrito" href="./pages/shop/cart.html">
                    <img src="./img/icons/cart-icon.svg" alt="icono de carrito">
                </a>
            </li>
        </ul>
    
    </nav>
</header>