<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/create_Edit_contact.css">
    <link rel="stylesheet" href="../../css/Normalizacioncss.css">

    <title>Create | Funkoshop</title>
</head>

<body>
  <!--  ************* HEADER ****************  -->

  <%- include("../partials/header_admin") %>

  <!--  ************** MAIN *****************  -->

    <main class="container container-b"> 
        <form action="#" method="post">
            <h1 class="main-article">CREAR NUEVO ITEM</h1>
            <article class="main-article">
                <label for="categoria">Categoría:</label>
                <select class="create-input" id="categoria" name="categoria">
                    <option value="" disabled selected>Seleccionar</option>
                    <option value="opcion1">Opción 1</option>
                    <option value="opcion2">Opción 2</option>
                    <option value="opcion3">Opción 3</option>
                </select>
            
                <label for="licencia">Licencia:</label>
                <select class="create-input" id="licencia" name="licencia" img src="/img/material-symbols_arrow-drop-down-rounded.svg" alt="">
                    <option value="" disabled selected>Seleccionar</option>
                    <option value="opcion1">Opción 1</option>
                    <option value="opcion2">Opción 2</option>
                    <option value="opcion3">Opción 3</option>
                </select>
            </article>

            <article class="main-article">
                <label class="form-label" for="nombre">Nombre del Producto:</label>
                <input class="create-input" type="text" id="nombre" name="nombre" placeholder="Kakashi Hatake Shippuden Saga">
            </article>
            
            <textarea class="create-input" id="descripcion" name="descripcion" placeholder="Descripción del producto"></textarea>
            
            <article class="main-article">
                <label for="sku">SKU:</label>
                <input class="create-input" type="text" id="sku" name="sku" placeholder="SSK111AB001">
            
                <label for="precio">Precio:</label>
                <input class="create-input" type="text" id="precio" name="precio" placeholder="$ 0.000,00">
                
                <label for="stock">Stock:</label>
                <input class="create-input" min="0" type="number" id="stock" name="stock" placeholder="0">
            </article>
            
            <article class="main-article">
                <label for="descuento">Descuento:</label>
                <input class="create-input" type="text" id="descuento" name="descuento" value="0%">
                
                <label for="cuotas">Cuotas:</label>
                <select class="create-input" id="cuotas" name="cuotas">
                    <option value="" disabled selected>3 cuotas sin interés</option>
                    <option value="opcion1">Opción 1</option>
                    <option value="opcion2">Opción 2</option>
                    <option value="opcion3">Opción 3</option>
                </select>
            </article>
            
            <article class="main-article">
                <label class="form-label">Imágenes:</label>
                <input type="file" id="imagenes" name="imagenes" multiple>
             </article>
            
            

            <article class="main-article">
                <input class="edit-modificar" type="submit" value="Agregar Producto">
                <input class="edit-modificar" type="button" onclick="limpiarFormulario()" value="Limpiar">
            </article>
        </form>
    
        <script>
            function limpiarFormulario() {
                document.querySelector("form").reset();
            }
        </script>
    </main>

    <!--  ************* FOOTER ****************  -->

    <%- include("../partials/footer") %>

    <!--  ************* SCRIPTS ****************  -->

</body>
</html>